@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Nothing+You+Could+Do&display=swap');

:root {
  --cor-primaria: #055C40;
  --cor-destaque: #D93B26;
  --cor-texto: #FFFFFF;
  --cor-texto-secundario: #1E1E1E;
  --cor-botao-padrao: #E2E0DD;
  --fonte-principal: 'Inter', sans-serif;
  --fonte-secundaria: 'Nothing You Could Do', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.botao:focus,
.botao:active:focus,
.botao-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FAFAFA !important;
  font-family: 'Inter', sans-serif;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.titulo {
  font-family: 'Nothing You Could Do', 'Inter', sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  color: #D93B26;
  margin: 8% auto 4% auto;
  text-align: center;
  width: 100%;
}

/* Remove o icone nativo de senhas do Google Edge */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}