:root {
    --cor-primaria: #055C40;
    --cor-destaque: #D93B26;
    --cor-texto: #FFFFFF;
    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: #FAFAFA;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

header section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 40px;
    width: 100%;
}

.logo img {
    height: 12vh;
    width: auto;
    display: block;
}